.modal-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-modal {
    width: 40rem;
    height: 30rem;
    display: flex;
    flex-flow: row;
    box-shadow: 0px 2px 12px 0px rgb(0, 0, 0, .4);

    .modal-left-box {
      width: 35%;
      padding: 1rem;
      display: flex;
      flex-flow: column;
      justify-content: center;

      div {
        width: 100%;
      }

      .img-box {
        // border: solid 0.5px rgb(222, 226, 230);
        height: auto;
        div {
          height: 100px;
        }
      }

      .span-box {
        display: flex;
        justify-content: center;
      }

      .project-select-area {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        .label {
          white-space: nowrap;
          font-size: 0.9rem;
          color: rgb(134, 142, 150);
        }
        .select-box {
          flex : 1;

          select {
            width: 100%;
          }
        }

      }
    }

    .modal-right-box {
      width: 65%;
      display: flex;
      flex-flow: column;
      padding: 1.5rem;
      justify-content: space-between;

      .modal-exit {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2rem;

        svg {
          font-size: 1.5em;
          margin-right: 1rem;
        }
      }

      .right-box-content {
        display: flex;
        flex-flow: column;
        align-items: center;
        h2 {
          margin-left: 0.5rem;
          margin-bottom: 1rem;
        }
        h4 {
          margin-left: 0.5rem;
          margin-bottom: 1rem;
          font-size: 1rem;
          color: rgb(134, 142, 150);
          font-weight: bold;
        }

        .right-box-content-inputbox{ //right-box-content-inputbox
          height: 100px;
          display: flex;
          flex-flow: column;
          width: 100%;
          // height: 3rem;
          margin-bottom: 1rem;

            div{
              display: flex;
            }

            .inputbox-left{
              flex: 2;
              align-items: center;
              justify-content: left;

            }
            .inputbox-right{
              flex: 7;
                input {
                    width: 1em -1px;
                    flex: 1 1 0%;
                    padding: 1rem;
                    font-size: 1rem;
                    border-top: solid 1px rgb(222, 226, 230);
                    border-bottom: solid 1px rgb(222, 226, 230);
                    border-left: solid 1px rgb(222, 226, 230);
                    border-right: solid 1px rgb(222, 226, 230);
                    outline: none;

                    &:focus {
                      outline: none;
                    }
                }
            }
        }

      button {
          width: 25%;
          height: 30px;
          background-color: rgb(18, 184, 134);
          color: white;
          font-weight: bold;
          padding-left: 6px;
          padding-right: 6px;
          font-size: 1rem;
          border-top: solid 1px rgb(222, 226, 230);
          border-bottom: solid 1px rgb(222, 226, 230);
          border-right: solid 1px rgb(222, 226, 230);
          border-left: none;
        }


        .modal-logobox {
          display: flex;
          justify-content: space-around;

          .modal-logobox-icon {
            width: 3rem;
            height: 3rem;
            color: rgb(222, 226, 230);
            border: solid 1px rgb(222, 226, 230);
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .icon-github-wrap {
            background-color: black;
            .github-icon {
              font-size: 2rem;
            }
          }
          .icon-google-wrap {
            .google-icon {
              font-size: 2rem;
            }
          }
          .icon-facebook-wrap {
            background-color: blue;
            border: none;
            .icon-facebook-inner-wrap {
              width: 2rem;
              height: 2rem;
              background-color: white;
              border: none;
            }
            .facebook-icon {
              color: blue;
              font-size: 2rem;
            }
          }
        }
      }

      .right-box-footer {
        display: flex;
        justify-content: flex-end;
        span{
          font-size: 14px;
          margin-left: 10px;
          color: rgb(134, 142, 150);
        }
      }
    }
  }
}
